.links {
  display: none;
}

.logout {
  cursor: pointer;
  padding: 6px 12px;
}

.mobileLinksBtn {
    cursor: pointer;
}

.mobileLinks {
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
  height: calc(100vh - 100px);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .mobileLinksBtn,
  .mobileLinks {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
